h1{
    font-size: 18px;
    line-height: 3;
}

ul{
    width: 400px;
    margin: 30px auto;
    text-align: left;
    line-height: 2;
    a{
        margin-right: 1em;
        color: rgb(56, 122, 217);
        &:hover{
            color: rgb(56, 122, 217);
        }
    }
}