body{
    color:#dedede;
    p{
        color:red;
    }
}
.m-icon{
	display:inline-block;
	font-family: 'cashierIconFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align:middle;
}

@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

#header {
  color: @light-blue;
}

@varr : "red";
.test_img{
    background:url('~/img/123.png?v=@{varr}')
}


.test_img2{
    background:url('~/img/sprite/icon/car.png?v=@{varr}')
}