[submodule "node_modules/lang-utils"]
	path = node_modules/lang-utils
	url = git@github.com:lemonabc/lang-utils.git
[submodule "node_modules/astros-asset-parse"]
	path = node_modules/astros-asset-parse
	url = git@github.com:lemonabc/astros-asset-parse.git
[submodule "node_modules/astros-css-less"]
	path = node_modules/astros-css-less
	url = git@github.com:lemonabc/astros-css-less.git
[submodule "node_modules/astros-js-minify"]
	path = node_modules/astros-js-minify
	url = git@github.com:lemonabc/astros-js-minify.git
[submodule "node_modules/astros-webcom-refer"]
	path = node_modules/astros-webcom-refer
	url = git@github.com:lemonabc/astros-webcom-refer.git
[submodule "node_modules/console-prettify"]
	path = node_modules/console-prettify
	url = git@github.com:lemonabc/console-prettify.git
[submodule "node_modules/pandora-proxy"]
	path = node_modules/pandora-proxy
	url = git@github.com:lemonabc/pandora-proxy.git
[submodule "node_modules/astros-cmd-dep"]
	path = node_modules/astros-cmd-dep
	url = git@github.com:lemonabc/astros-cmd-dep.git
[submodule "node_modules/astros-cmd-define"]
	path = node_modules/astros-cmd-define
	url = git@github.com:lemonabc/astros-cmd-define.git
[submodule "node_modules/astros-cmd-read"]
	path = node_modules/astros-cmd-read
	url = git@github.com:lemonabc/astros-cmd-read.git
[submodule "node_modules/astros-jscom-path"]
	path = node_modules/astros-jscom-path
	url = git@github.com:lemonabc/astros-jscom-path.git
[submodule "node_modules/pandora-astros-map"]
	path = node_modules/pandora-astros-map
	url = git@github.com:lemonabc/pandora-astros-map.git
[submodule "node_modules/astros-css-less2"]
	path = node_modules/astros-css-less2
	url = git@github.com:lemonabc/astros-css-less2.git
[submodule "node_modules/astros-asset-dep-parse"]
	path = node_modules/astros-asset-dep-parse
	url = git@github.com:lemonabc/astros-asset-dep-parse.git
[submodule "node_modules/astros-asset-for-dep"]
	path = node_modules/astros-asset-for-dep
	url = git@github.com:lemonabc/astros-asset-for-dep.git
